.layout {
   padding: 0;
   height: 100%;
}

.bg {
    background-color: #221F2E;
}

.container-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    color: white;
    margin: 1rem 0;
}

.card a {
    text-decoration: none;
}

.btn-classic {
    background-color: #7962F2;
    color: white;
}

.btn-add-skills {
    background-color: #7962F2;
    color: white;
    max-width: fit-content;
    margin-left: 5px;
    border-radius: 50%;
    height: max-content;
}


.selected-skills {
    background-color:rgba(255, 255, 255, 0.24) !important;
    color: #EDAE49;
}

div.ql-container.ql-snow {
    height: 20rem;
}

.align-right {
    text-align: right;
}

/* BEFORE */
.help-title {
    color: #EDAE49;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.container-helps {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    border: solid 1px #EDAE49;
    border-radius: 5px;
}

.card-posts {
    margin-top: 10px;
    padding: 10px;
    border: hidden;
    color: white;
    background-color: transparent;
}

.card-box {
    display: flex;
    flex-direction: row;
}

.btn-infos {
    background-color: transparent;
    color: white;
    width: fit-content;
}

.btn-details {
    background-color: #7962F2;
    color: white;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}


.post-footer {
    color: white;
}

#post-line {
    border: solid white 1px;
}

.skills-logo {
    max-width: 25px;
}

.help-form {
    padding: 10px;
    color: white;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-classic {
    background-color: #2f2a3f;
    justify-content: center;
}

.skills-form {
    width: 750px;
    border: solid 1px #EDAE49;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selector {
    width: 150px;
    background-color: #2f2a3f;
    color: white;
}

.help-title-form {
    display: flex;
    justify-content: center;
}

.skills-selection {
    display: flex;
}


.login-form {
    color: white;
}

.accordion-button:first-of-type {
    background: transparent;
    color: white;
    /* border-bottom: 1px solid; */
}
.accordion-button:not(.collapsed) {
    color:var( --bs-yellow);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button:focus {
    outline: 0;
    box-shadow: none!important;
}

.accordion-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
    color: white;
}

.errorMessage span {
    color: red;
    width: 15rem;
    /* word-break: break-all; */
    display: flex;
}
.errorMessage {
    color: red;
}
.title-post {
    font-weight: bold;
    font-size: 20px;
}

