.topnav{
    background-color: #7962F2;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.logo {
    max-height: 50px;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #272435;
    color: white;
}

.topnav a.active{
    background-color: #221F2E;
    color: white;
    font-weight: normal;
}

.profileIcon{
    max-height: 50px;
    float: right;
}

.welcomemessage{
    display: flex;
    float: right;
    text-align: center;
}
.message{
    color: #f2f2f2;
    padding-top: 1vw;
}