@media all and (max-width: 975px) {
    .custom-nav-link {
        width: 100%;
    }
    .nav-dropdown {
        flex-direction: revert;
    }
}
.nav-color{
    background-color: #7962F2;
    padding: 0;
}

.logo {
    height: 50px;
}

.my-container {
    align-items: initial !important;
}

.my-nav-container {
    align-items: stretch;
    height: auto;
}

.custom-nav-link {
    color: white;
    margin: 0;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.custom-nav-link:hover{
    color: #221f2e;
    transition: 0.3s;
}

.active{
    background-color: #221f2e;
    border: none !important;
    font-style: bold;
    color: rgb(216, 216, 216);
}

.active:hover{
    background-color: #221f2e;
    border: none !important;
    font-style: bold;
    color: rgb(216, 216, 216);
}

.profileIcon{
    max-height: 50px;
}

.divider-nav {
    width: 90%;
    margin: 0.5rem auto;

}
