.nav-color{
    background-color: #7962F2;
    padding: 0;
}

.logo {
    height: 50px;
}

.my-container {
    align-items: initial !important;
}

.my-nav-container {
    align-items: stretch;
    height: auto;
}

.custom-nav-link {
    color: white;
    padding: 15px;
    margin: 0;
    text-decoration: none;
    font-size: 17px;
}

.custom-nav-link:hover{
    color: #221f2e;
    transition: 0.3s;
}

.active{
    background-color: #221f2e;
    border: none !important;
    font-style: bold;
    color: rgb(216, 216, 216);
}

.active:hover{
    background-color: #221f2e;
    border: none !important;
    font-style: bold;
    color: rgb(216, 216, 216);
}

.profileIcon{
    max-height: 50px;
}
